/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.not-found-img {
  width: 400px;
}

.not-found-heading {
  color: #616e7c;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 32px;
  }
}
.not-found-description {
  color: #dcdcdc;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .not-found-description {
    font-size: 20px;
  }
}
